.header{
    text-align: center;
    background-image: url("http://getwallpapers.com/wallpaper/full/a/e/9/980409-stranger-things-wallpapers-1920x1080-large-resolution.jpg");
    padding-bottom: 180px;
    padding-top: 180px;
}